{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Log in to Code4Work">
{% endblock %}

{% block title %}First-time login{% endblock %}

{% block style %}
<link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="container form-login py-4" method="post" action="/first_login"
  style="max-width: 960px;">
  <h3 class="border-bottom mb-3 pb-3">First-time login</h3>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger text-center" role="alert">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}

  <div class="mb-3">
    <div class="form-floating">
      <input class="form-control input-top" id="id" name="id" type="text"
        placeholder="id">
      <label for="id">ID</label>
    </div>

    <div class="form-floating">
      <input class="form-control input-middle" id="password" name="password"
        type="password" placeholder="password">
      <label for="password">Password</label>
    </div>

    <div class="form-floating">
      <input class="form-control input-bottom" id="confirm-password"
        name="confirm-password" type="password" placeholder="password">
      <label for="confirm-password">Confirm password</label>
    </div>
  </div>

  <button class="btn btn-primary btn-lg w-100" type="submit">Log in</button>
</form>
{% endblock %}