{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Log in to Code4Teens.">
{% endblock %}

{% block title %}Login{% endblock %}

{% block style %}
<link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="container form-login py-4" method="post" action="/login"
  style="max-width: 960px;">
  <h3 class="border-bottom mb-3 pb-3">Login</h3>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger text-center" role="alert">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}

  <div class="mb-3">
    <div class="form-floating">
      <input class="form-control input-top" id="id" name="id" type="text"
        placeholder="id">
      <label for="id">ID</label>
    </div>

    <div class="form-floating">
      <input class="form-control input-bottom" id="password" type="password"
        name="password" placeholder="password">
      <label for="password">Password</label>
    </div>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-lg w-100" type="submit">Log in</button>
    <a href="/first_login">
      <button class="btn btn-secondary btn-lg w-100" type="button">First-time
        login</button>
    </a>
  </div>
</form>
{% endblock %}