{% extends 'base.html' %}

{% set active_page = 'dashboard' %}

{% block description %}
<meta name="description" content="{{ user.display_name }}'s dashboard">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container py-4" style="max-width: 960px;">
  <h3 class="border-bottom mb-3 pb-3">Dashboard</h3>

  {% if user.enrolments|length > 1 %}
  <select class="form-select form-select-sm mb-4"
    onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option selected>{{ cohort.name }}</option>
    {% for enrolment in user.enrolments %}
    {% if enrolment.cohort.id != cohort.id %}
    <option value="/dashboard/{{ user.id }}/{{ enrolment.cohort.id }}">
      {{ enrolment.cohort.name }}</option>
    {% endif %}
    {% endfor %}
  </select>
  {% endif %}

  <h4 class="mb-3">To-Do List</h4>

  {% if user.incomplete_evals(cohort.id)|length == 0 %}
  <p>You have no pending tasks.</p>
  {% else %}
  <div class="list-group">
    {% for eval in user.incomplete_evals(cohort.id) %}
    <div class="list-group-item">
      <div class="d-flex justify-content-between w-100">
        <h5 class="mb-1">Day {{ eval.day }}</h5>
        <small>{{ eval.lapse }} day{{ 's' if eval.lapse != 1 }} ago</small>
      </div>
      {% if eval.review is none %}
      {% if eval.evaluator.id == user.id %}
      <p class="mb-1">Review {{ eval.evaluatee.display_name }}'s code.</p>
      {% else %}
      <p class="mb-1">Remind {{ eval.evaluator.display_name }} to review your
        code.</p>
      {% endif %}
      {% else %}
      {% if eval.evaluatee.id == user.id %}
      <p class="mb-1">Feedback {{ eval.evaluator.display_name }}'s review.</p>
      {% else %}
      <p class="mb-1">Remind {{ eval.evaluatee.display_name }} to submit their
        feedback.</p>
      {% endif %}
      {% endif %}
      <a href="/discussions/{{ eval.id }}">#{{ '%04d' % eval.id }}</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <hr class="my-4">

  <h4 class="mb-3">Overview</h4>

  {% if user.evals(cohort.id)|length == 0 %}
  <p>Check again later.</p>
  {% else %}
  <div class="table-responsive-md">
    <table class="table table-striped table-hover text-center mb-1">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Discussion</th>
          <th scope="col">Reviewer</th>
          <th scope="col">Reviewee</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for eval in user.evals(cohort.id) %}
        <tr>
          <th scope="row">{{ eval.day }}</th>
          <td>
            <a href="/discussions/{{ eval.id }}">#{{ '%04d' % eval.id }}</a>
          </td>
          <td>{{ '-' if eval.evaluator.id == user.id else
            eval.evaluator.display_name }}</td>
          <td>{{ '-' if eval.evaluatee.id == user.id else
            eval.evaluatee.display_name }}</td>
          <td>
            {% if eval.is_complete %}
            <span class="text-success">OK</span>
            {% else %}
            <span class="text-danger">KO</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <small class="text-muted">Discussions are only marked as <span
        class="text-success">OK</span> when feedback is submitted.</small>
  </div>
  {% endif %}
</div>
{% endblock %}