{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Discussion #{{ '%04d' % eval.id }}">
{% endblock %}

{% block title %}Discussion{% endblock %}

{% block content %}
<form class="container py-4 needs-validation" method="post"
  action="/discussions/{{ eval.id }}" style="max-width: 960px;" novalidate>
  <h3 class="border-bottom mb-3 pb-3">Discussion #{{ '%04d' % eval.id }}</h3>

  <h4 class="mb-2">Overview</h4>

  <div class="row g-2">
    <div class="col-sm-7">
      <label class="form-label" for="cohort">Cohort</label>
      <input class="form-control" id="cohort" value="{{ eval.cohort.name }}"
        readonly>
    </div>

    <div class="col-sm-2">
      <label class="form-label" for="day">Day</label>
      <input class="form-control" id="day" value="{{ eval.day }}" readonly>
    </div>

    <div class="col-sm-3">
      <label class="form-label" for="day">Date</label>
      <input class="form-control" id="day" value="{{ eval.date }}" readonly>
    </div>

    {% if eval.evaluator.id != current_user.id %}
    <div class="col-12">
      <label class="form-label" for="reviewer-name">Reviewer Name</label>
      <div class="input-group">
        <input class="form-control" id="reviewer-name"
          value="{{ eval.evaluator.display_name }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="reviewer-id">Reviewer ID</label>
      <div class="input-group">
        <input class="form-control" id="reviewer-id"
          value="{{ eval.evaluator.id }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="reviewer-username">Reviewer
        Username</label>
      <div class="input-group">
        <input class="form-control" id="reviewer-username"
          value="{{ eval.evaluator.username }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>
    {% endif %}

    {% if eval.evaluatee.id != current_user.id %}
    <div class="col-12">
      <label class="form-label" for="reviewee-name">Reviewee Name</label>
      <div class="input-group">
        <input class="form-control" id="reviewee-name"
          value="{{ eval.evaluatee.display_name }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="reviewee-id">Reviewee ID</label>
      <div class="input-group">
        <input class="form-control" id="reviewee-id"
          value="{{ eval.evaluatee.id }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="reviewee-username">Reviewee
        Username</label>
      <div class="input-group">
        <input class="form-control" id="reviewee-username"
          value="{{ eval.evaluatee.username }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>
    {% endif %}
  </div>

  <hr class="my-4">

  <h4 class="mb-2">Review</h4>

  {% if (eval.review is not none and eval.feedback is not none) or
  current_user.id == eval.evaluator.id or current_user.is_admin %}
  {% for key, value in eval.cohort.review_schema.get('d' ~ eval.day).items() %}
  <div class="mb-3">
    <p class="mb-1">{{ key|upper }}. {{ value.get('title') }}</p>
    {% for option in value.options %}
    <div class="form-check">
      {% if eval.review is none %}
      <input class="form-check-input" id="{{ key }}-{{ option|lower }}"
        name="{{ key }}" type="radio" value="{{ option }}" {{ 'checked' if
        loop.index==1 }} required>
      {% else %}
      <input class="form-check-input" id="{{ key }}-{{ option|lower }}"
        type="radio" value="{{ option }}" {{ 'checked' if
        eval.review.get(key)==option else 'disabled' }}>
      {% endif %}
      <label class="form-check-label" for="{{ key }}-{{ option|lower }}">{{
        option|capitalize }}</label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="mb-3">
    <label class="form-label" for="comments">Comments</label>
    {% if eval.review is none %}
    <textarea class="form-control" id="comments" name="comments"
      placeholder="Write something..." rows="5" minlength="10" maxlength="500"
      required></textarea>
    {% else %}
    <textarea class="form-control" id="comments" rows="5"
      readonly>{{ eval.review.get('comments') }}</textarea>
    {% endif %}
    <small class="text-muted">Comments must be between 10-500
      characters.</small>
  </div>
  {% elif eval.review is none %}
  <p>{{ eval.evaluator.display_name }} has yet to review.</p>
  {% elif current_user.id == eval.evaluatee.id %}
  <p>Please complete below feedback to see {{ eval.evaluator.display_name }}'s
    review.</p>
  {% else %}
  <p>Section temporarily hidden.</p>
  {% endif %}

  <hr class="my-4">

  <h4 class="mb-2">Feedback</h4>

  {% if (eval.review is not none and eval.feedback is not none) or
  (eval.review is not none and eval.feedback is none and current_user.id ==
  eval.evaluatee.id) %}
  {% for key, value in eval.cohort.feedback_schema.get('d' ~ eval.day).items()
  %}
  <div class="mb-3">
    <p class="mb-1">{{ key|upper }}. {{ value.get('title') }}</p>
    {% for option in value.options %}
    <div class="form-check">
      {% if eval.feedback is none %}
      <input class="form-check-input" id="{{ key }}-{{ option|lower }}"
        name="{{ key }}" type="radio" value="{{ option }}" {{ 'checked' if
        loop.index==1 }} required>
      {% else %}
      <input class="form-check-input" id="{{ key }}-{{ option|lower }}"
        type="radio" value="{{ option }}" {{ 'checked' if
        eval.feedback.get(key)==option else 'disabled' }}>
      {% endif %}
      <label class="form-check-label" for="{{ key }}-{{ option|lower }}">{{
        option|capitalize }}</label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="mb-3">
    <label class="form-label" for="comments">Comments</label>
    {% if eval.feedback is none %}
    <textarea class="form-control" id="comments" name="comments"
      placeholder="Write something..." rows="5" minlength="10" maxlength="500"
      required></textarea>
    {% else %}
    <textarea class="form-control" id="comments" rows="5"
      readonly>{{ eval.feedback.get('comments') }}</textarea>
    {% endif %}
    <small class="text-muted">Comments must be between 10-500
      characters.</small>
  </div>
  {% elif eval.review is none %}
  <p>Section temporarily hidden.</p>
  {% else %}
  <p>{{ eval.evaluatee.display_name }} has yet to submit their feedback.</p>
  {% endif %}

  {% if (eval.review is none and current_user.id == eval.evaluator.id) or
  (eval.review is not none and eval.feedback is none and current_user.id ==
  eval.evaluatee.id) %}
  <hr class="my-4">

  <button class="btn btn-primary w-100" type="submit">Submit</button>
  {% endif %}
</form>
{% endblock %}

{% block script %}
<script src="/static/validate.js"></script>
<script src="/static/copy.js"></script>
{% endblock %}