{% extends 'base.html' %}

{% set active_page = 'profile' %}

{% block description %}
<meta name="description" content="{{ user.display_name }}'s profile">
{% endblock %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block content %}
<form class="container py-4" style="max-width: 960px;">
  <h3 class="border-bottom mb-3 pb-3">{{ user.display_name }}'s Profile</h3>

  <div class="row g-2">
    <div class="col-12">
      <label class="form-label" for="name">Name</label>
      <div class="input-group">
        <input class="form-control" id="name" value="{{ user.display_name }}"
          readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label" for="id">ID</label>
      <div class="input-group">
        <input class="form-control" id="id" value="{{ user.id }}" readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label" for="username">Username</label>
      <div class="input-group">
        <input class="form-control" id="username" value="{{ user.username }}"
          readonly>
        <button class="btn btn-outline-secondary" data-bs-toggle="tooltip"
          type="button" onclick="copy(this)">
          <i class="bi bi-clipboard"></i>
        </button>
      </div>
    </div>
  </div>

  {% if user.id == current_user.id %}
  <a href="/change_password">
    <button class="btn btn-danger w-100 mt-3" type="button">Change password</button>
  </a>
  {% elif user.is_admin == false %}
  <a href="/dashboard/{{ user.id }}">
    <button class="btn btn-primary w-100 mt-3" type="button">View dashboard</button>
  </a>
  {% endif %}
</form>
{% endblock %}

{% block script %}
<script src="/static/copy.js"></script>
{% endblock %}