{% extends 'base.html' %}

{% set active_page = 'profile' %}

{% block description %}
<meta name="description" content="Check out {{ user.display_name }}'s profile">
{% endblock %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block content %}
<form class="container py-4" style="max-width: 960px;">
  <h3 class="pb-3 mb-3 border-bottom">Profile</h3>

  <div class="row g-2 mb-3">
    <div class="col-12">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" value="{{ user.display_name }}"
        readonly>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="id">ID</label>
      <input class="form-control" id="id" value="{{ user.id }}" readonly>
    </div>

    <div class="col-sm-6">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" id="username"
        value="{{ user.name }}#{{ user.discriminator }}" readonly>
    </div>

    {% for enrolment in user.enrolments %}
    <div class="col-12">
      <label class="form-label" for="cohort-{{ loop.index }}">Cohort {{
        loop.index }}</label>
      <input class="form-control" id="cohort-{{ loop.index }}"
        value="{{ enrolment.cohort.name }}" readonly>
    </div>
    {% endfor %}
  </div>

  {% if user.id == current_user.id %}
  <a href="/change_password">
    <button class="w-100 btn btn-danger" type="button">Change password</button>
  </a>
  {% endif %}
</form>
{% endblock %}