{% extends 'base.html' %}

{% set active_page = 'resources' %}

{% block description %}
<meta name="description" content="Resources">
{% endblock %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="container py-4" style="max-width: 960px;">
  <h3 class="border-bottom mb-3 pb-3">Resources</h3>

  {% if current_user.enrolments|length > 1 %}
  <select class="form-select form-select-sm mb-4"
    onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option selected>{{ cohort.name }}</option>
    {% for enrolment in current_user.enrolments %}
    {% if enrolment.cohort.id != cohort.id %}
    <option value="/resources/{{ enrolment.cohort.id }}">
      {{ enrolment.cohort.name }}</option>
    {% endif %}
    {% endfor %}
  </select>
  {% endif %}

  <h4 class="mb-3">References</h4>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
    {% block references %}
    {% endblock %}
  </div>

  <hr class="my-4">

  <h4 class="mb-3">Project PDFs</h4>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
    {% if not current_user.is_admin and not cohort.start_date|is_past(0) %}
    <p>Check again later.</p>
    {% else %}
    {% block projects %}
    <p>Something went wrong...</p>
    {% endblock %}
    {% endif %}
  </div>
  {% endblock %}