{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Welcome to Code4Teens">
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container py-4">
  {% if current_user.is_authenticated %}
  <h3 class="border-bottom mb-3 pb-3">Welcome, {{ current_user.display_name }}!
  </h3>
  {% else %}
  <h3 class="border-bottom mb-3 pb-3">Welcome!</h3>
  {% endif %}

  <div class="bg-light rounded-3 mb-4 p-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Code4Teens <span
          style="color: #306998;">Py</span><span
          style="color: #ffd43b">thon</span> Botcamp</h1>
      <p class="fs-4">Join our 9-day curriculum designed to wake the inner
        programmer for every teenager!</p>
      <a href="/"><button class="btn btn-primary btn-lg"
          type="button">Register</button></a>
    </div>
  </div>

  <div class="row align-items-sm-stretch g-4">
    <div class="col-sm-6">
      <div class="bg-dark text-white h-100 rounded-3 p-5">
        <h2>Created by 42 KL</h2>
        <p>A tuition-free computer programming school with a peer-to-peer
          learning environment that doesn’t involve teachers and lectures.</p>
        <a href="https://42kl.edu.my/" target="_blank"><button
            class="btn btn-outline-light" type="button">Check out 42
            KL</button></a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="border bg-light h-100 rounded-3 p-5">
        <h2>Teaching methodology</h2>
        <p>Code4Teens creates a unique peer-to-peer learning environment which
          encourages students to be proactive in their tasks and assignments.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}